.l_container {
  background-color: #c6c3c3;
  padding: 100px 50px;
  &__inner_container {
    display: block;
    border: 8px solid #000;
    border-radius: 50px;
    padding: 28px 20px;
    background-color: #efefef;
  }
}
.l_body {
  &__img {
    img {
      width: 500px;
      height: 515px;
    }
  }
  border-radius: 50px;
  border: 19px solid #e5dcdc;
  background: #fff;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    & span {
      display: block;
      color: #000;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
    }
    &__pwd {
      margin-top: 20px;
    }
    & input {
      border-radius: 5px;
      border: 6px solid #080809;
      background: #fff;
      width: 300px;
      padding: 10px 15px;
    }
    &__btn {
      margin-top: 10px;
      display: flex;
      align-items: center;
      btn {
        border-radius: 20px;
        border: 1px solid #5e5bff;
        background: #5e5bff;
        padding: 10px 15px;
      }
    }
  }
}
